In [39]:
import pandas as pd
import numpy as np
import json

ACA ME UBICO EN LA CARPETA DE LOS ARCHIVOS NECESARIOS

In [40]:
%cd C:\\Users\\Familia Lara Pernia\\Desktop\\Henry\\Proyectos Individuales\\archivos del proyecto 1_Steam_games
%pwd

C:\Users\Familia Lara Pernia\Desktop\Henry\Proyectos Individuales\Proyecto1_Steam_Games

'C:\\Users\\Familia Lara Pernia\\Desktop\\Henry\\Proyectos Individuales\\Proyecto1_Steam_Games'

CARGO EL ARCHVIO JSON EN DATAFRAME Y VEO SU INFORMACION

In [41]:
# Cargar el JSON en un DataFrame
json_data = "output_steam_games.json"
steam_games = pd.read_json(json_data, lines=True)

In [42]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 11.9+ MB

ELIMINO LAS FILAS QUE TIENEN TODAS SUS COLUMNAS EN NULO

In [43]:
#ELIMINO LOS NULOS
steam_games = steam_games.dropna(how='all')
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  float64
 11  id            32133 non-null  float64
 12  developer     28836 non-null  object
dtypes: float64(2), object(11)
memory usage: 3.4+ MB

CONVIERTO EN ENTERO LA COLUMNA ID

Observe que la columna id posee valores nulos, por lo que primero procedo a ubicar esos nulos, para luego convertir a entero dicha columna.

In [44]:
#Ubico id nulos
steam_games[steam_games['id'].isnull()]

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88384,None,None,None,None,http://store.steampowered.com/,None,None,None,None,19.99,0.0,NaN,None
119271,"Warner Bros. Interactive Entertainment, Feral ...","[Action, Adventure]",Batman: Arkham City - Game of the Year Edition,Batman: Arkham City - Game of the Year Edition,http://store.steampowered.com/app/200260,2012-09-07,"[Action, Open World, Batman, Adventure, Stealt...",None,"[Single-player, Steam Achievements, Steam Trad...",19.99,0.0,NaN,"Rocksteady Studios,Feral Interactive (Mac)"

In [45]:
#Elimino las dos filas con id nulo (una de ellos no me aporta practicamente ninguna informaci√≥n, la otra la subestime)
steam_games.dropna(subset=['id'],inplace=True)

In [46]:
#Convierto a int los valores de la columna id
steam_games['id'] = steam_games['id'].astype('int')
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 88310 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24082 non-null  object
 1   genres        28851 non-null  object
 2   app_name      32132 non-null  object
 3   title         30084 non-null  object
 4   url           32133 non-null  object
 5   release_date  30067 non-null  object
 6   tags          31971 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31464 non-null  object
 9   price         30756 non-null  object
 10  early_access  32133 non-null  float64
 11  id            32133 non-null  int32
 12  developer     28835 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 3.3+ MB

In [47]:
steam_games.isnull().sum() # Cuento la cantidad de nulos

publisher       8051
genres          3282
app_name           1
title           2049
url                0
release_date    2066
tags             162
reviews_url        0
specs            669
price           1377
early_access       0
id                 0
developer       3298
dtype: int64

COMO DEVELOPER ES UNA COLUMNA QUE LLEVA INFORMACION PARECIDA A LA COLUMNA PUBLISHER, TOMAMOS LOS VALORES DEL ULTIMO MENCIONADO Y COMPLETAMOS LOS NULOS DE DEVELOPER.

In [48]:
steam_games['developer'].fillna(steam_games['publisher'],inplace=True)
steam_games.isnull().sum()

publisher       8051
genres          3282
app_name           1
title           2049
url                0
release_date    2066
tags             162
reviews_url        0
specs            669
price           1377
early_access       0
id                 0
developer       3233
dtype: int64

LOGRAMOS REDUCIR NULOS DE LA COLUMNA DEVELOPER

AHORA PROCEDEMOS A TRANSFORMAR Y LIMPIAR CADA COLUMNA APOYANDONOS EN LOS REQUERIMIENTOS DE LA API.

* RELEASE DATE:

In [ ]:
# Se observan las cantidades de registros por cada fecha
steam_games['release_date'].value_counts()

In [ ]:
# Convertir la columna 'release_date' al tipo datetime
steam_games['release_date'] = pd.to_datetime(steam_games['release_date'], errors='coerce')

# Extraer el a√±o y crear una nueva columna 'A√±o'
steam_games['a√±o_lanzamiento'] = steam_games['release_date'].dt.year   
steam_games['a√±o_lanzamiento'] = steam_games['a√±o_lanzamiento'].astype('Int64')
# elimina la columna 'release_date'
steam_games = steam_games.drop('release_date', axis=1)

# Mostrar el dataframe resultante
steam_games.head()

* PRICE:

En dicha columna tenemos valores  como : [4.99, 9.99, Free to Use, Free to Play], por ello vamos a reemplazar todos los valores por flotantes, tanto los item que reflejan promociones o juegos gratis, y los campos nulos. Todo esto con el fin de manejar estos datos mas comodo en nuestra API.

In [54]:
# Suponiendo que df es tu DataFrame y 'precio' es la columna de precios
# Reemplazar valores de texto por 0
steam_games['price'] = pd.to_numeric(steam_games['price'], errors='coerce')
steam_games['price'] = steam_games['price'].replace(['Free to Use', 'Free to Play'], 0)

# Imputar valores nulos como 0
steam_games['price'] = steam_games['price'].fillna(0)

# Convertir a tipo num√©rico (si no lo ha hecho autom√°ticamente)
steam_games['price'] = pd.to_numeric(steam_games['price'])

In [60]:
steam_games['price'].head(20)

88310     4.99
88311     0.00
88312     0.00
88313     0.99
88314     2.99
88315     3.99
88316     9.99
88317    18.99
88318    29.99
88319     0.00
88320     0.00
88321     0.00
88322    10.99
88323     3.99
88324     2.99
88325     1.59
88326    14.99
88327     1.99
88328    59.99
88329     4.99
Name: price, dtype: float64

* GENRES

Para esta columna tenemos los generos ubicados dentro de una lista, procederemos a crear una fila nueva para cada genero, ademas los valores que tenga nulo al crearse la nueva se procederan a borrar, filtrando solo por la columna genres.

In [ ]:
steam_games = steam_games.explode('genres')
steam_games = steam_games.dropna(subset=['genres'])
steam_games.head(20)

In [63]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71552 entries, 88310 to 120443
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   publisher        59113 non-null  object
 1   genres           71552 non-null  object
 2   app_name         71550 non-null  object
 3   title            71550 non-null  object
 4   url              71552 non-null  object
 5   tags             71506 non-null  object
 6   reviews_url      71552 non-null  object
 7   specs            70995 non-null  object
 8   price            71552 non-null  float64
 9   early_access     71552 non-null  float64
 10  id               71552 non-null  int32
 11  developer        71318 non-null  object
 12  a√±o_lanzamiento  70702 non-null  Int64
dtypes: Int64(1), float64(2), int32(1), object(9)
memory usage: 7.4+ MB

* ELIMINO COLUMNAS QUE NO UTILIZARE

In [65]:
steam_games = steam_games.drop(['tags', 'specs', 'url', 'reviews_url'], axis=1)
steam_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'price', 'early_access',
       'id', 'developer', 'a√±o_lanzamiento'],
      dtype='object')

In [66]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71552 entries, 88310 to 120443
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   publisher        59113 non-null  object
 1   genres           71552 non-null  object
 2   app_name         71550 non-null  object
 3   title            71550 non-null  object
 4   price            71552 non-null  float64
 5   early_access     71552 non-null  float64
 6   id               71552 non-null  int32
 7   developer        71318 non-null  object
 8   a√±o_lanzamiento  70702 non-null  Int64
dtypes: Int64(1), float64(2), int32(1), object(5)
memory usage: 5.3+ MB

* CARGO EL DATASEET LIMPIO

In [ ]:
archivo_limpio = 'archivos csv/steam_games_limpio.csv'
steam_games.to_csv(archivo_limpio, index=False, encoding='utf-8')